/* variables */

$white: #fff;
$alabaster: #fafafa;
$gallery: #ededed;
$mine-shaft: #333;
$black: #000;

$base-color: $mine-shaft;
$base-background-color: $white;
$base-border-color: $gallery;
$panel-background-color: $alabaster;
$panel-border-color: $base-border-color;
